<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Error event</h1>
  <br>
  <p class="text-xl text-red-700 font-semibold">Do you want to us to resolve this error event now?</p>

  <%= form_with(model: @healer_error_event, class: "contents") do |form| %>
    <% if @healer_error_event.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@healer_error_event.errors.count, "error") %> prohibited this error event from being processed:</h2>

        <ul>
          <% @healer_error_event.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-5">
      <p class="text-lg text-gray-700">Class: <%= @healer_error_event.class_name %></p>
      <p class="text-lg text-gray-700">Method: <%= @healer_error_event.method_name %></p>
      <p class="text-lg text-gray-700">Error: <%= @healer_error_event.error["error"] %></p>
    </div>
    <br>
    <div class="inline">
      <%= form.submit "Yes, proceed", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
  <%= link_to "No, thanks", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
